.container {
  margin: 0 0 !important;
  float: none !important;
  width: 100%;
}

#blank {
  width: auto;
  height: auto;
  aspect-ratio: 5/7;
  border-color: black;
  border-style: double;
  background-color: rgba(245, 255, 112, 0.8);
}

.drop-over-active {
  background-color: aqua;
}
