.container {
  margin: 0 auto !important;
  float: none !important;
  width: 800px;
  height: 350px;
}

.title {
  text-align:center;
  font-family: 'Ink Free';
  font-size:60px;
}

.simpleText {
  text-align: center;
  text-justify: auto;
  font-family: 'Ink Free';
}

.verb {
  text-align: center;
  text-justify: auto;
  font-family: 'Ink Free';
  font-size: 45px;
}

.clue {
  text-align: center;
  text-justify: auto;
  font-family: 'Ink Free';
  font-size: 35px;
  font-weight: bolder;
}

.btnContainer {
  margin: 0 auto !important;
  float: none !important;
  justify-content: center;
  display: flex;
}

.btnLetter {
  width: auto;
  height: auto;
  aspect-ratio:5/7;
  font-family: 'Ink Free';
  font-size: x-large;
  margin: 15px 20px;
}

#gap {
  background-color: azure;
  border-color: black;
  border-style:double;
}

