<div class="container">
    <h1 class="title">{{title}}</h1>
    <h2 class="simpleText">If this verb in <a class="clue">{{clueVerbAttribute.attributeType}}</a> is </h2>
    <h2 class="verb">{{clueVerbAttribute.attribute}}</h2>
    <h2 class="simpleText">Complete the gaps to write it in <a class="clue">{{gappedVerbAttribute.attributeType}}</a></h2>
    <div class="btnContainer">
        <app-letter-button-renderer [btnGappedVerbAttribute]="btnGappedVerbAttribute"></app-letter-button-renderer>
    </div>
    <div class="btnContainer">
      <app-letter-button-renderer [btnRandomLetters]="btnRandomLetters"></app-letter-button-renderer>
    </div>
</div>
